<div class="ui card">
  {{#if canDelete}}
    <div class="extra content deleteSelector" style="display:none">
      <div class="right floated">
        <div class="field">
          <div class="ui toggle checkbox">
            <input id="{{_id}}" class="deleteCheckbox" type="checkbox" name="test">
            <label>Delete</label>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  <a class="image" href="/userTimeline/{{_id}}">
    <img src="{{profilePicture}}">
  </a>
  <div class="content">
    <div class="header">{{firstName}} {{lastName}}</div>
    <div class="description">
      joined {{joinedString}}
    </div>
  </div>
  <div class="extra content">
    {{#if canFollow}}
      <div class="left floated">
        {{#if isFollowing}}
          <i id="{{_id}}" class="yellow star icon unfollowIcon"></i>
        {{else}}
          <i id="{{_id}}" class="empty star icon followIcon"></i>
        {{/if}}
      </div>
    {{/if}}
    <a class="right floated" href="/userTimeline/{{_id}}">
      {{tweetCount}}
      <i class="comments icon"></i>
    </a>
  </div>
  {{#if canDelete}}
    <div class="extra content">
      <div class="right floated trash icon">
        <form class="ui form" action="/users/removeUser" method="post">
          <input type="hidden" name="viewedUserID" value="{{_id}}">
          <button class="ui basic brown compact icon submit button">
            <i class="trash icon"></i>
          </button>
        </form>
      </div>
    </div>
  {{/if}}
</div>